@mixin header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin aboutme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}