.main__footer {
  margin: 140px auto 0 auto;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include tablet {
    padding: 0 6%;
    display: block;
  }
  max-width: 900px;
}

.footer__p {
  font-size: $f20;
  color: $white;
  margin-top: 20px;
}

.footer__info {
  @media (max-width:$tablet) {
    text-align: center;
  }
}

.footer__h1 {
  font-size: $f32;
  color: $orange;
}

.footer__sections {
  display: flex;
  @media (max-width:$tablet) {
    display: block;
}
}

.footer__text {
  color: $orange;
  font-size: $f24;
  margin-left: 15px;
}

.footer__block {
  @include center;
  margin-top: 15px;
  margin-right: 15px;
}

.footer__contacts {
  @media (max-width:$tablet) {
    text-align: center;
    margin-top: 75px;
  }
}