.main {
  padding: 0 8%;
  @include tablet {
    padding: 0 6%;
  }
}

.hero {
  @include header;
}

.main__hero {
  margin-top: 70px;
  @media (max-width:1227px) {
    display: block;
  }
}

.hero__text {
  @media (max-width:1227px) {
    text-align: center;
    margin-bottom: 64px;
  }
  @media (max-width:650px) {
    margin-bottom: 0px;
  }
  @include mobile {
    text-align: left;
  }
}

.hero__h1 {
  font-size: $f64;
  color: $orange;
  font-weight: $black;
  @include mobile {
    font-size: $f40;
  }
}

.hero__h3 {
  font-size: $f40;
  color: $white;
  font-weight: $bold;
  @include mobile {
    font-size: $f32;
  }
}

.hero__p {
  font-size: $f20;
  color:$white;
  @include mobile {
    font-size: $f24;
  }
}

.hero__img {
  @include background-image;
  width: 629px;
  height: 575px;
  background-image: url(../../imgs/img/David.svg);
  @media (max-width:1227px) {
    display: block;
    margin: 0 auto;
  }
  @media (max-width:650px) {
    max-width: 100%;
  }
}