.main__skills {
  margin-top: 120px;
}

.skills__blocks {
  max-width: 1064px;
  @include header;
  margin: 0 auto;
  justify-content: center;
  @include mobile {
    display: none;
  }
}

.skills__blocks *:not(:first-child) {
  margin-left: 15px;
}

.skills__blocks * {
  margin-top: 15px;
} 

.block {
  width: 200px;
  height: 300px;
  background-color: $dark-grey;
  border-radius: 10px;
  @include center;
  flex-flow: column;
}

.block__img {
  margin-bottom: 10px;
}

.block__text {
  font-size: $f32;
  color: $white;
}

.skills__title {
  font-size: $f32;
  margin-bottom: 30px;
  text-align: center;
  color: $orange;
  font-weight: $bold;
}

.rectangle {
  height: 60px;
  border-radius: 10px;
  color: $white;
  font-size: $f24;
  @include center;
  justify-content: flex-start;
  background-color:$dark-grey;
  max-width: 285px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.skills__rectangle-mobile {
  @include min-mobile {
    display: none;
  }
  @include mobile {
    display: block;
  }
}

.rectangle__text {
  margin-left: 15px;
}

.rectangle__img {
  margin-left: 35px;
}