.main__works {
  margin-top: 120px;
}

.works__cards {
  max-width: 992px;
  @include header;
  margin: 0 auto;
  justify-content: center;
  @include large-tablet {
    flex-flow: column;
  }
}

.card {
  width: 320px;
  height: 320px;
  background-image: url(https://raw.githubusercontent.com/davkchit/onedausite/ba50013d66f254566d45483c1629be03089504cb/imgs/img/Work.svg);
  @include background-image;
}

.work__card {
  @media (max-width:340px) {
    margin: auto;
    max-width: 100%;
  }
}

.works__cards *:not(:first-child) {
  margin-left: 15px;
  @include large-tablet {
    margin-left: 0px;
  }
}

.work__card {
  margin-top: 15px;
} 

.works__title {
  font-size: $f32;
  margin-bottom: 30px;
  text-align: center;
  color: $orange;
  font-weight: $bold;
}